<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-youtube-play"></i>&nbsp;Youtube Downloader</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">DESCARGAS</a></li>
          <!--<li id="about"><a href="/success">RESULTADO</a></li>-->
        </ul>
      </div>
    </div>
  </nav>