<div class="loadingScreen" style="position: absolute;z-index: 1000000;background-color: black;opacity: 0.5;width: 100%;height: 100%; top: 0;right: 0; display: none;">
    <div class="loader">Loading...</div>
</div>
