<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>
    <% include partials/spinner %>
    <div class="container-fluid bg-3">
        <h3><%= page %></h3><br>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group col-sm-12">
                    <label for="videoURL">URL del video</label>
                    <input type="text" class="form-control" id="videoURL" name="videoURL" aria-describedby="videoURL"
                        placeholder="Ejemplo: https://www.youtube.com/watch?v=MEEJOZkmIxU">
                </div>
                <div class="hiddenUntilVideoInfo" style="display: none;">
                    <div>
                        <div class="form-group col-sm-6 text-right">
                            <img id="videoThumbnail" class="videoThumbnail" src="" alt="Vista previa no disponible">
                        </div>
                        <div class="form-group col-sm-6 text-left">
                            <h4><strong>Título:</strong>&nbsp;<span id="videoTitle"></span></h4>
                            <h4><strong>Duración:</strong>&nbsp;<span id="videoLength"></span></h4>
                        </div>
                    </div>
                    <div class="form-check col-sm-12">
                        <input type="checkbox" class="form-check-input" id="partialDownload" disabled>
                        <label class="form-check-label" for="partialDownload">Descarga parcial</label>
                    </div>
                    <div class="partialDownloadParams" style="display: none;">
                        <div class="form-group col-sm-6">
                            <label for="fromTime">Desde</label>
                            <input type="text" class="form-control" id="fromTime" name="fromTime"
                                aria-describedby="fromTime" placeholder="00:00:00" disabled>
                            <small id="infoDesde" class="form-text text-muted">Formato HH:MM:ss</small>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="toTime">Hasta</label>
                            <input type="text" class="form-control" id="toTime" name="toTime" aria-describedby="toTime"
                                placeholder="00:00:00" disabled>
                            <small id="infoDesde" class="form-text text-muted">Formato HH:MM:ss</small>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="format">Formato</label>
                        <select class="form-control" id="format">
                            <option disabled>Video</option>
                            <option value="mp4">mp4</option>
                            <option value="avi">avi</option>
                            <option value="wmv">wmv</option>
                            <option value="mkv">mkv</option>
                            <option value="flv">flv</option>
                            <option disabled>Audio</option>
                            <option value="mp3">mp3</option>
                            <option value="ogg">ogg</option>
                        </select>
                    </div>
                    <!--<div class="form-group col-sm-6">
                        <label for="qualitySelect">Calidad</label>
                        <select class="form-control" id="qualitySelect">
                            <option>144p</option>
                            <option>360p</option>
                            <option>720p</option>
                            <option>1080p</option>
                            <option>4k</option>
                        </select>
                    </div>-->
                </div>
                <div class="col-sm-12 text-center">
                    <button id="btnDescargar" class="btn btn-primary" disabled><i
                            class="fa fa-download"></i>&nbsp;Descargar</button>
                </div>

            </div>
        </div>
    </div>
</body>
<% include partials/script %>

</html>