<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-12">
        
      
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>